:root {
    --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 255 217 0;
  --oui-color-primary-light: 255 255 100;
  --oui-color-primary-darken: 200 150 0;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 245 190 25;
  --oui-color-link-light: 255 225 77;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 255 150 150;
  --oui-color-danger-darken: 200 50 50;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 76 214 168;
  --oui-color-success-light: 100 255 200;
  --oui-color-success-darken: 0 200 100;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 240 120;
  --oui-color-warning-darken: 220 150 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 45 39 33;
  --oui-color-fill-active: 54 48 43;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 80 70 110;
  --oui-color-base-3: 65 55 95;
  --oui-color-base-4: 55 45 80;
  --oui-color-base-5: 45 35 65;
  --oui-color-base-6: 35 25 50;
  --oui-color-base-7: 51 46 66;
  --oui-color-base-8: 25 20 40;
  --oui-color-base-9: 18 15 30;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 76 214 168;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 200 150 0;
  --oui-gradient-primary-end: 255 215 0;

  --oui-gradient-secondary-start: 220 180 50;
  --oui-gradient-secondary-end: 240 180 0;

  --oui-gradient-success-start: 0 200 100;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 200 50 50;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 240 180 0;
  --oui-gradient-brand-end: 255 217 0;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 220 150 0;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 24 22;
  --oui-gradient-neutral-end: 38 34 30;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 18px;
  --oui-rounded-md: 18px;
  --oui-rounded-lg: 18px;
  --oui-rounded-xl: 18px;
  --oui-rounded-2xl: 18px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}
